*{
	   box-sizing: border-box;
	   margin: 5px;
	   padding: 5px;
	}
	
	h1{
	    text-align: centre;
		margin-bottom: 15px;
	}
	
	section{
		font-style: arial ;
	}
	.container{
	marign-top:10px;
	margin-bottom:10px;
	}
	.row{
	  width: 100%;
	}
	p{
		border: 1px solid black;
		margin-bottom: 15px;
		width: 450px;
		height: 300px;
		margin-right: auto;
		margin-left: auto;
		font-style: arial;
	}
	#p1{
		background-color: #DC143C ;
	}
    #p2{
		background-color: #FFFF00 ;
	}
	#p3{
		background-color: #0000FF;
	}
    #p4{
		background-color: #006400;
	}
	#Gryffindor{
		float: right;
	padding: 1px;
	border: 1px solid black;
	width: 120px;
	text-align: center;
	background-color: #ff96ca;
	}
	
	#Hufflepuff{
		float: right;
	padding: 1px;
	border: 1px solid black;
	width: 120px;
	text-align: center;
	background-color: #b26666;
	}
	
	#Ravenclaw{
		float: right;
	padding: 1px;
	border: 1px solid black;
	width: 120px;
	text-align: center;
	background-color: #f5f5dc;
	}
	
	#Slytherin{
		float: right;
	padding: 1px;
	border: 1px solid black;
	width: 120px;
	text-align: center;
	background-color: #fff000;
	}
	
	
	
    /*********Desktop*********/
	@media (min-width: 992px){
	{
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    
  }
    .col-lg-1 {
	 width: 8.33%;
	 }
    .col-lg-2 {
	 width: 16.66%;
	}
    .col-lg-3 {
	 width: 25%;
	 }
    .col-lg-4 {
	width: 33.33%;
	}
    .col-lg-5 {
	width: 41.66%;
	}
    .col-lg-6 {
	width: 50%;
	}
    .col-lg-7 {
	width: 58.33%;
	}
    .col-lg-8 {
	width: 66.66%;
	}
    .col-lg-9 {
	width: 75%;
	}
    .col-lg-10 {
	width: 83.33%;
	}
    .col-lg-11 {
	width: 91.66%;
	}
    .col-lg-12 {
	width: 100%;
	}
	}
	
	
    /********Tablet**********/
    @media (min-width: 768px) and (max-width: 991px){
	{
	.col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12 {
    float: left;
    
  }
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    }
    /********Mobile*********/
    @media (max-width: 768px){
   {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
 	float: left;
  }

  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
	}
